.navbar{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    background:lightseagreen;
    height: 100px;
    align-items: center;
    padding: 0px 100px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.logo{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-login{
    cursor: pointer;
}

.cart-icon{
    width:50px;
    height: 50px;
    padding: 5px;
}
.cart{
    position: relative;
    cursor: pointer;
}
.counter{
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: -3px;
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}